input[type=checkbox] {
    margin: 0;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

p.summary {
    font-weight: normal;
}

.event-title-container {
    background-color: #e4dbff;
    padding: 0 10px;
}

.event-title {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}

.btn-danger {
    margin-top: 1px;
}

.article-container, .event-container {
    list-style-type: none;
}

.event-container {
    padding-left: 0;
}

.event {
    background-color: #f2eeff;
}

.article-title {
    display: inline;
    font-weight: bold;
    font-size: 16px;
}

.sim {
    font-weight: normal;
}

.article {
    padding-left: 50px;
    padding-right: 50px;
}

.excerpt {
    display: inline;
}
