{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Tagger</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'custom.css' %}">
</head>
<body>
    <div class="main container">
        <div class="instructions">
            <h1>INSTRUCTIONS</h1>
            <p>This is an annotation task. The goal is to select (multiple) article titles that best represent/describe an event that the articles under it are about. We are also looking for the best representative excerpt. We plan to use this data for a model that will try to select the best representative title and excerpt for an event on its own.
                <br>
                <br>
                What we have below is a set of events. Each event has several articles. The articles have titles, with only the first five articles having paragraphed content. Next to each article title there's a metric called "sim". The closer this metric is to 1, the closer this article is to the centroid of the event. In layman terms, articles closer to 1 are more likely to be associated with the event.
                <br>
                <br>
                The task at hand is separated into two parts:
                <br>
                <br>
                <strong>1. Mark article titles that best represent/describe the event.</strong> We can select multiple article titles from the same event. They have to be informative enough, they shouldn't contain bad formatting, uncharacteristic characters (ie. bad HTML), or the source's name or URL (ie. "- Washington Post" at the end). It's preferable that they follow standard journalistic practices (ie. overt clickbait or "listicles" may not be the best choices). If we have two or more article titles that are (nearly) identical, we select both.
                <br>
                <br>
                <strong>2. Mark article paragraphs that can be used as representative and informative excerpts for the event.</strong> The same rules (in good measure) apply as in title annotation.
                <br>
                <br>
                A few things to note:
                <br>
                <br>
                i. There's no need to pick excerpts in each article if they aren't good examples. One excerpt per event is enough, but pick as many good ones as possible. The same applies for title annotation.<br>
                ii. No matter how many excerpts in an article are valid for marking, only the one that's highest in an article will keep its marked status after Submit.<br>
                iii. If a whole event has many articles (>= ~50-70%) that are unassociated with each other (meaning our classifier did a bad job), or the articles have paragraphs in wrong order (example: the first event in the dataset - event #1231463), the event isn't appropriate for annotation. In this case, click the red Clear button at the event to unmark any existing checkmarks and move on, thus leaving the event out of the finalized dataset.<br>
                iv. Notice that only the first five articles in any given event have paragraph content. That means we only perform task number one (article title annotation) on those that don't.
                <br>
                <br>
                This user interface supports saving progress (Submit button at the end of the event list), but make sure your connection is online when you submit. Save often!
            </p>
        </div>
        <form role="form" class="form" method="post" name="license-form">
            {% csrf_token %}
            <ul class="event-container">
            {% for event in events.iteritems %}
                <li class="event">
                    <div class="event-title-container"><div class="event-title">Event #{{ event.0 }}</div><div id="{{ event.0 }}" class="btn btn-danger btn-xs pull-right">Clear</div></div>

                    <ul class="article-container form-group">
                        {% comment %}<div class="">{% endcomment %}
                            {% for article in event.1 %}
                                <div class="checkbox">
                                    <label for="supcheckbox">
                                        <input class="checkbox" type="checkbox" name="{{ event.0 }}" value="{{ article.uri }}" {% if article.repr_title == 'yes' %}checked{% endif %}>
                                    </label>
                                    <div class="article-title">{{ article.title }}&nbsp;&nbsp;&nbsp;<span class="sim">(sim: {{ article.sim }})</span></div>
                                </div>


                                <li class="article">
                                    <div class="form">
                                        {% for ex in article.excerpts %}
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input class="checkbox" type="checkbox" id="subcheckbox" name="{{ event.0 }}" value="{{ article.uri }}|---|{{ ex.0 }}" {% if ex.0 == article.checked %}checked{% endif %}>
                                                    </label>
                                                    <p class="excerpt">{{ ex.1 }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </li>
                            {% endfor %}
                        {% comment %}</div>{% endcomment %}

                    </ul>

                </li>
            {% endfor %}
            </ul>
            <button type="submit" id="oddaj" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src="{% static 'jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'custom.js' %}"></script>
</body>
</html>
